@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-whiteprimary: #FFFFFF;
  --color-blackprimary: #1a1a1a;
  --color-redprimary: #DC2F2F;
  --color-greenprimary: #1B5E20;
  --color-blueprimary: #134B70;
}